### PyCharm template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# IDEA
.idea/**

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Actual configs
/config/.env
/config/templates/template.jinja
/config/config.json
/config/debug_config.json

bot/__pycache__/
bot/bot_functions/__pycache__/
bot/config/__pycache__/
bot/init/__pycache__/
bot/init/bot/__pycache__/
bot/init/config/__pycache__/
bot/venv/
bot/commands/__pycache__/
bot/db/__pycache__/
bot/db/models/__pycache__/
bot/handlers/__pycache__/
bot/init/connections/__pycache__/
bot/init/services/__pycache__/
bot/init/template/__pycache__/
bot/logs/
bot/middlewares/__pycache__/
bot/models/__pycache__/
bot/services/__pycache__/
bot/services/vacancy_service/__pycache__/
bot/services/vacancy_service/repositories/__pycache__/
bot/services/vacancy_service/repositories/storage/__pycache__/
ecosystem.config.js


